.footer {
  text-align: center;
  background-color: #f8f9fa;
  color: #666;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 0.4rem;
  border-top: 1px;
  margin-top: 2rem;
  user-select: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
